<% provide(:title, "ログイン") %>
<h1 class="page-title">ログイン</h1>
<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "input-field" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "input-field" %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me, class: "align-middle" %>
        <span class="align-middle">ユーザーIDを保存</span>
      <% end %>

      <div class="text-center">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="other-link text-center">
      <p>アカウントをお持ちでない場合はこちらから</p>
      <%= link_to "新規登録", signup_path, class: "path-link" %>
    </div>
  </div>
</div>