<li id="post-<%= post.id %>">
  <div class="post-profile-img">
    <%= image_tag post.user.image.url, class: "img-rounded img-size60 profile-img" %>
  </div>
  <div class="post-content">
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <p class="content"><%= link_to truncate(post.content, length: 100), post  %></p>
  </div>
    <div class="post-info">
      <% if logged_in? %>
        <div class="thumbs-index">
          <%= render partial: 'goods/thumbsup', locals: {post: post} %>

          <% if post.thumbs_down?(current_user) %>
            <%= link_to post_bads_path(post), method: :delete, remote: true do %>
              <span class="fa fa-thumbs-down on-thumbs-down"></span>
            <% end %>
          <% else %>
            <%= link_to post_bads_path(post), method: :post, remote: true do %>
              <span class="fa fa-thumbs-down off-thumbs-down"></span>
            <% end %>
          <% end %>
          <span id="bads-count-index"><%= post.bads.count %></span>
        </div>
      <% end %>
      <div class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前に投稿
      </div>
    </div>
</li>