<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 60), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= link_to truncate(post.content, length: 100), post  %></span>
  <div class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
  </div>
</li>