<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body id="bg">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "text-center alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%# <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
    <script>
      $(document).ready(function () {
      // トップページのpathによって背景画像のスタイルをあてる条件式
        if (location.pathname == '/') {
          $("#bg").addClass("bg");
        } else {
          $("#bg").removeClass("bg");
        }
      });
    </script>
  </body>
</html>
